@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
:root{
    --verde-escuro:#36402F;
    --verde-claro:#D7F205;
    --amarelo-claro:#EEF277;
    --amarelo-escuro:#F2E205;
    --marron:#A6771F;
    --preto:#0000;
    --branco:#f4f4f4;
}
body{
    background: var(--branco);
  
}
/*CABEÇALHO*/
span{
    cursor: pointer;
}
.link{
    text-decoration: none;
    color: var(--branco);
    font-size: 1.0em;
    font-weight: bold;
}
.cabecalho{
    background-color: var(--marron);
    color:var(--branco);
}
.cabecalho_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.cabecalho_menu{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.material-symbols-outlined{
    margin-right: 10px;
}
.cabecalho_menu-texto{
    font-size: 1.0em;
    font-weight: bold;
}
.cabecalho_carrinho{
    display: flex;
    align-items: center;
}
.cabecalho_pesquisa{
    background: transparent;
    border: none;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.623);
    cursor: pointer;
}
.cabecalho_pesquisa::placeholder{
    background: url(../imagem/Lupa.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    color: var(--branco);
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    padding: 1px;
}

.carousel {

    display: flex;
    overflow: hidden;
}

.carousel-container {
   display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {

    min-width: 100%;
    box-sizing: border-box;
}
.carousel-item > img{
    width: 100%;
}
.setaleft{
    text-align: center;
    position: relative;
    top: 50px;
    left: 50px;
    transform: translate(-45px,-350px);
    padding: 4px;
    border-radius: 50%;
    border: none;
    background: var(--verde-escuro);
}

.setaright{
    text-align: center;
    position: relative;
    top: 50px;
    transform: translate(0px,-350px);
    float: right;
    border-radius: 50%;
        padding: 4px;
    border: none;
    background: var(--verde-escuro);
}

.central_logo{
    background-color: var(--marron);
    width: 100vw;
    margin-top:-31px;
}
.central_logo-h1{
    color: var(--branco);
    text-align: center;
    font-size: 1.5em;
}

/*MENU*/
.menu{
    display: none;
    background-color: var(--verde-escuro);
    border-radius: 0 20px ;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.452);
    position: absolute;
    top: 50px;
    left: 50px;
    width: 50%;
    height: 100vh;
    transform: translate(-50px,-07px);
    transition: width 5s ease-in-out;
}
.menu_lista{
    padding: 4px 0px 0px 10px;
}
.menu_lista-li{
    padding-bottom: 10px;
    border-bottom: 1px solid var(--branco);
    margin-top: 10px;
}
.menu_link-login{
    background: url("../imagem/person.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    color: var(--branco);
    font-weight: bold;
    text-align: left;
    padding-left: 25px;
}
.menu_link-atendimento{
    background: url("../imagem/atendimento.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    color: var(--branco);
    font-weight: bold;
    text-align: left;
    padding-left: 25px;
}
.menu_link-pedidos{
    background: url("../imagem/menu.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    color: var(--branco);
    font-weight: bold;
    text-align: left;
    padding-left: 25px;
}
/*CARRINHO*/
.carrinho{
    display: none;
    background-color: var(--verde-escuro);
    border-radius: 10px;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.452);
    position: absolute;
    top: 50px;
    left: 50px;
    width: 80%;
    transform: translate(35px,-07px);
    cursor: pointer;
}
.carrinho_texto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: var(--marron);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 2px solid var(--branco);
}
.carrinho_texto-h1{
    color: var(--branco);
    font-size: 0.8em;
    padding-left: 2px;
}
.material-symbols-outlined{
    color: var(--branco);
    font-size: 1em;

}
.carrinho_produto{
    color: var(--branco);
}
.carrrinho_produto-caixa{
    border-bottom: 1px solid var(--branco);
    padding: 5px 0 0 5px;
    width: 100%;
}
.carrinho_produto-foto{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.carrinho_produto-img{
    margin-right: 20px;
    width: 20%;
}
.carrinho_produto-h1{
    font-size: 1.5em;
}
.quantidade{
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantidade > p{
    margin-right: 10px;
    margin-bottom: 5px;
}
.carrinho_subtotal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: var(--marron);
    padding: 5px 0;
    text-align: center;
}
.carrinho_subtotal-a{
    margin-right: 10px;
}
.material-symbols-outlined{
    font-size: 1.2em;
    font-weight: bold;
}
/*BANCA_PRODUTOS*/

.produtos{
    margin: 10px 0;
}
.produtos_caixa{
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
    margin-top: 20px;
    padding-left:70px;
}
.produto_banca{
    background-color: var(--verde-escuro);
    color: var(--branco);
    margin-right: 20px;
    padding: 10px;
    text-align: center;
    text-transform:uppercase;
}
.produto_banca-imagem{
    width: 80%;
}
.produto_banca-h1{
    font-size: 1em;
    font-weight: bold;
}
.produto_banca-p{
    margin: 5px 0;
    font-size: 1.2em;
}
.produto_banca-button{
    background-color: var(--verde-claro);
    color: var(--verde-escuro);
    padding: 4px;
}

/*footer*/  

.rada_pe{
    background: var(--marron);
}

.roda_pe-h1{
    color: var(--branco);
    text-align: center;
    border-bottom: 1px solid var(--branco);
}
.roda_pe-info{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
.rede_social{
    display: grid;

    border-right: 1px solid beige;
    width: 50%;
}
.rede_social-P{
    text-align: center;
    color: var(--branco);
    font-size: 1em;
    font-weight: bold;
}
.rede_social-imagem{
    width: 20%;
    margin: auto;
}
.mapa{
    margin: auto;
    padding: 5px;
}